
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --black-color: #151515;
    --red-color: #A91D3A;

    --Bebas-Neue: "Bebas Neue", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --Josefin-Sans: "Josefin Sans", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

